langgraph 
langsmith
langchain
langchain_community
langchain-openai
fastapi
pydantic
uvicorn
httpx
pytz
tenacity
pyodbc
sqlalchemy
sentence-transformers==3.3.1
transformers==4.46.3
chromadb==0.5.20
openai
fastapi-cache2
