fastapi
pydantic
pymssql
requests
uvicorn
httpx
gunicorn
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langgraph
langsmith
httpx
pytz
tenacity
pyodbc
sqlalchemy
azure-search-documents
azure-identity
openai-whisper
python-multipart
