fastapi==0.115.5
langchain==0.3.7
pydantic==2.10.0
pymssql==2.3.2
requests==2.32.3
sentence-transformers==3.3.1
SQLAlchemy==2.0.35
tokenizers==0.20.3
transformers==4.46.3
uvicorn
httpx
gunicorn
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
langchain-experimental==0.3.3
langchain-openai==0.2.9
langchain-text-splitters==0.3.2